<header>
  <nav class="navbar navbar-expand navbar-light bg-light fixed-top">
    <div class="container-md">
      <div class="navbar-nav">
        <a class="navbar-brand" href="/">GradTracker</a>
        <a class="nav-link" href="/user/courses">My Courses</a>
      </div>
      <div class="navbar-nav">
        <a href="/user/login" class="nav-link">Login</a>
        <a href="/user/register" class="nav-link mx-4">Register</a>
        <!-- <a href="/user/logout" class="nav-link">Logout</a> -->
      </div>
    </div>
  </nav>
</header>