<%- include('includes/head.ejs') %>
</head>

<body>
  <%- include('includes/navigation.ejs') %>
  <div class="container-md h-50 mt-4 d-flex justify-content-center align-items-center">
    <h3 class="text- text-center text-uppercase">Page not Found</h3>
  </div>

<%- include('includes/end.ejs') %>