<%- include('includes/head.ejs') %>
</head>

<body>
  <%- include('includes/navigation.ejs') %>
  <div class="container-md mt-3 pt-3">
    <h1 class="text-center">Dashboard</h1>
  </div>

<%- include('includes/end.ejs') %>